In [3]:
import pandas as pd

In [11]:
vaccinations = pd.read_json("../data/data-dec.json")
vaccinations

,area,areaid,dailydose1,dailydose2,daydiff,daytotal,referencedate,totaldistinctpersons,totaldose1,totaldose2,totalvaccinations
0,ΑΙΤΩΛΟΑΚΑΡΝΑΝΙΑΣ,701,0,0,0,0,2020-12-29T00:00:00,0,0,0,0
1,ΑΝΑΤΟΛΙΚΗΣ ΑΤΤΙΚΗΣ,901,56,0,1,56,2020-12-29T00:00:00,146,146,0,146
2,ΑΝΔΡΟΥ,1201,0,0,0,0,2020-12-29T00:00:00,0,0,0,0
3,ΑΡΓΟΛΙΔΑΣ,1001,0,0,0,0,2020-12-29T00:00:00,0,0,0,0
4,ΑΡΚΑΔΙΑΣ,1002,0,0,0,0,2020-12-29T00:00:00,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
217,ΦΛΩΡΙΝΑΣ,304,0,0,0,0,2020-12-31T00:00:00,0,0,0,0
218,ΦΩΚΙΔΑΣ,805,0,0,0,0,2020-12-31T00:00:00,0,0,0,0
219,ΧΑΛΚΙΔΙΚΗΣ,207,0,0,0,0,2020-12-31T00:00:00,0,0,0,0
220,ΧΑΝΙΩΝ,1304,0,0,0,0,2020-12-31T00:00:00,0,0,0,0
221,ΧΙΟΥ,1105,0,0,0,0,2020-12-31T00:00:00,0,0,0,0